html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.header {
    height: 50px;
    background-color: #ff8000;
    color: white;
    padding: 16px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.062);
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.logo {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 40px;
    width: 40px;
}

.speisekarte {
    display: flex;
    align-items: center;
}

.flag {
    height: 40px;
    width: 80px;
    
}

/* Links Menu rechts Warenkorb */
.content {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fcfcfc; 
  
}
.restaurant {
    display: flex;  
    height: 100px;
    width: 100%;
    background-color: white;
}

.headline {
    width: 700px;
    background-color: #fcfcfc;
}

.card {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 8px;
    padding: 4px;
    gap: 8px;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 128px;
    width: 400px;
    border-left-style: 1px solid;
    border-color: rgba(0, 0, 0, 0.062);
}