::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    cursor: pointer;
}

.header {
    height: 50px;
    background-color: #ff8000;
    color: white;
    padding: 16px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.062);
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.logo {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 40px;
    width: 40px;
}

.speisekarte {
    display: flex;
    align-items: center;
}

.flag {
    height: 40px;
    width: 80px;
}

/* Links Menu rechts Warenkorb */
#content {
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc;
    min-height: 100%;
    height: 100%;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fcfcfc;
}

.stack {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-picture {
    height: 320px;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: 50% 45%;
    z-index: 1;
}

.pizza-picture img {
    height: 320px;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: 50% 45%;
    z-index: 1;
}

.pizza-logo {
    height: 100px;
    width: 700px;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 325px;
}

.pizza-logo img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 39% 25%;
    border-radius: 10px;
}

.info-bg {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.info {
    background-color: white;
    display: flex;
    width: 700px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    margin: 0px 16px 0px 16px;
}

.ratings {
    display: flex;
    width: 230px;
    align-items: center;
}

.stars {
    display: flex;
    margin-right: 4px;
}

.stars img {
    height: 20px;
    width: 20px;
}

.rating-count a {
    color: black;
    white-space: nowrap
}

.rating-count a:hover {
    cursor: pointer;
}

.delivery-container {
    width: 500px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
    white-space: nowrap;
}

.delivery-container img {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.bike img {
    height: 27px;
    width: 27px;
}

.green {
    color: #017A39;
}

.align-center {
    display: flex;
    align-items: center;
}

.description {
    margin-top: 16px;
}

.headline-left {
    width: 700px;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 700px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 8px 16px 8px 16px;
    padding: 16px;

}

.card:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}


.plus {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: antiquewhite;
    margin-top: 18.720px;
}

#right_side {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    gap: 32px;
    padding: 16px;
    width: 350px;
    border-left-style: 1px solid;
    border-color: rgba(0, 0, 0, 0.062);
    background-color: white;
}

.empty_basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}


.basket_value_name {
    display: flex;
    gap: 16px;
}

.basket_dish {
    display: flex;
    justify-content: space-between;

}

.basket_plus_minus_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    margin-top: 8px;
    margin-bottom: 16px;

}

.basket_plus_minus_buttons img {
    height: 24px;
    width: 24px;
    border-radius: 8px;
    background-color: antiquewhite;

}

.right_side h2 {
    margin: 20px;
}

.text_align_center {
    text-align: center;
}

#empty-basket-container {
    margin: 20px;
}

#empty-basket-container h2 {
    margin: 0;
}

#empty-basket-container img {
    margin-bottom: 20px;
}

.d-none {
    display: none;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 100px;
}

#responsive_basket_section {
    bottom: 0;
    left: 0;
    padding: 8px;
    position: fixed;
    z-index: 5;
    width: 768px;
    background-color: white;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.062);
    display: none;
}

button {
    width: 100%;
    border-radius: 8px;
    border-color: #f36805;
    background-color: #f36805;
    border-style: solid;
}

button :hover {
    cursor: pointer;
}

.padding_bottom {
    padding-bottom: 24px;
}

#basket_fullscreen {

    height: 100vh;
    width: 100%;
    min-height: 100%;
    z-index: 4006;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: inherit;
    padding: 24px;

}

.content_basket_fullscreen {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 4006;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.button_content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin: 8px;
    gap: 8px;
}

.button_content svg path {
    fill: currentColor;
}

.basket_close {
    display: flex;
    flex-direction: row-reverse;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.dialog {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow: auto;
    max-width: 100vw;
    min-height: 100vh;
    background-color: white;
    /*  border: 1px solid lightgray; */
    /* border-radius: 10px; */
    padding: 50px;
}

.dialog-exit {
    display: flex;
    justify-content: flex-end;


}


@media(max-width: 1100px) {
    .card {
        width: 680px;
    }
}

@media(max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }


    #right_side {
        display: none;
    }

    #responsive_basket_section {
        bottom: 0;
        left: 0;
        padding: 8px;
        position: fixed;
        z-index: 5;
        width: 768px;
        background-color: white;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.062);
        display: block;
    }

    #basket_fullscreen {
        width: auto;
        height: auto;
    }
}

@media(max-width: 610px) {}

@media(max-width: 480px) {}

@media(max-width: 280px) {}